*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  background: #FFF9F5;
  color: #0D1B2A;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #E8720C;
  border-radius: 3px;
}

a {
  color: #E8720C;
}
